/= javascript_include_tag 'tour_profile.js'
= render 'masthead'
p.snug-top.space-bottom.text-right.faint
  ' Alliance and Company members can choose a custom Profile URL by setting their username.

= render 'tabs'
