.callout.accent.little-space-top.shadow
  h3.bold.primary-text.text-center.little-space-bottom
    ' How can we help you?
  ul.accordion.shadow data-accordion='true' data-allow-all-closed='true'
    li.accordion-item data-accordion-item=true
      = link_to 'Help me make my company team more effective', '#', class: 'accordion-title bold text-center'
      .accordion-content data-tab-content=true
        p
          ' Once you have a
          span.bold
            ' Collaboration Workspace
          ' for your company, you’ll have 24/7 access to a unique suite of
          ' productivity and collaboration enhancing tools.
          ' Invite your whole team for one low price and
          ' enhance focus, improve outcomes and collaborate more fully.
          '
        = link_to 'Learn about Company Workspace Membership...', pricing_path(anchor: 'company'), class: 'button expanded success bold scale-to-110'

    li.accordion-item data-accordion-item=true
      = link_to 'Help me establish an alliance with entrepreneurs I respect', '#', class: 'accordion-title bold text-center'
      .accordion-content data-tab-content=true
        p
          ' Once you invite your people into your
          span.bold
            | Private Alliance
          ' , you’ll make better decisions and gain broader perspectives
          ' using the tools we provide.
          ' As a tight knit group, you’ll form trusted bonds and help each other
          ' make better decisions, overcome challenges and improve outcomes.
          '
        = link_to 'Learn about Private Alliance Membership...', pricing_path(anchor: 'alliance'), class: 'button expanded success bold scale-to-110'

    li.accordion-item data-accordion-item=true
      = link_to 'Help me make awesome connections and showcase my talents', '#', class: 'accordion-title bold text-center'
      .accordion-content data-tab-content=true
        p
          ' When you sign-up for
          span.bold
            ' Entrepreneur’s Jet Fuel,
          ' you get
          ' a premium profile,
          ' a listing in the Entrepreneur’s Showcase and
          ' unlimited private messaging
          ' for an amazing low price.
          ' You’ll meet entrepreneurs from around the world and connect with the ones who can help you most.
          '
          '
        = link_to 'Learn about Entrepreneur’s Jet Fuel Membership...', pricing_path(anchor: 'entrepreneur'), class: 'button expanded success bold scale-to-110'

    li.accordion-item data-accordion-item=true
      = link_to 'Help me with free startup wisdom from experienced entrepreneurs', '#', class: 'accordion-title bold text-center'
      .accordion-content data-tab-content=true
        p
          ' Startup Alliance offers
          span.bold
            ' Free Associate Membership
          ' to students, investors, advisors or entrepreneurs who are just starting out.
          ' It includes full access to the community resources in The Entrepreneur’s Nucleus,
          ' limited Private Messaging and the ability to join Private Alliances and Company Workspaces.
          '
        = render 'partials/join_form', acqsrc: 'home_page'