.card.primary.shadow
  .card-divider.accent-background
    h4.bold.text-center
      ' Exchange startup wisdom with global entrepreneurs in
      | The Nucleus
      span.faint
        ' &trade;
  /' where Entrepreneurs exchange startup wisdom
  .card-section data-equalizer-watch=true
    p.text-center
      ' Straight answers, knowledge and wisdom from those who know.
      /' Ask questions, get answers and benefit from hard-won knowledge and startup wisdom shared by those who know.
      ' There's even a “Global Virtual Office” for real-time collaboration with entrepreneurs from around the world.
      /' The Nucleus is a dedicated resource for global entrepreneurs.
      '
    /' The Nucleus includes a “Global Virtual Office” for real-time collaboration with entrepreneurs from around the world.
    = link_to 'Explore The Nucleus...', nucleus_path, class: 'button expanded success bold scale-to-110'
