.callout.shadow-3dp.title-font
  /h5.bold.title-font
    ' Praise for Startup Alliance:
  /.float-left
      .show-for-medium.little-space-right= image_tag 'nicolas.png', width: '180px'
      .show-for-small-only.little-space-right= image_tag 'nicolas.png', width: '160px'
  i.fa.fa-quote-left.fa-3x.fa-pull-left.medium-grey-text
  p
    ' Startup Alliance is the easiest way to connect and collaborate
    ' with like-minded entrepreneurs.
    ' The tools Startup Alliance provides allow us to be more focused and more deliberate
    ' on our goals and share those with our team.
    '
  p.snug-top.text-right
    ' — #{link_to 'Nicolas Robbe, founder and CEO, Hoverlay', vanity_path('hoverlay')}
