.callout.shadow-3dp.title-font
  /h5.bold.title-font
    ' Praise for Startup Alliance:
  /.float-left
    .show-for-medium.little-space-right= image_tag 'rachel.png', width: '180px'
    .show-for-small-only.little-space-right= image_tag 'rachel.png', width: '160px'
  i.fa.fa-quote-left.fa-3x.fa-pull-left.medium-grey-text
  p
    ' I’m really impressed with the Private Virtual Office they provide.
    ' I used to work at LogMeIn which owns join.me and GoToMeeting
    ' and I have to say, I like this tool a lot more.
    '
  p.snug-top.text-right
    ' — #{link_to 'Rachel D’Agostino, founder and CEO, Incbase', vanity_path('rpdinc')}
