.row
  .medium-8.medium-offset-2.small-12.columns
    .responsive-embed.widescreen
      iframe src='//www.youtube-nocookie.com/embed/G6aRBj_5AIY?rel=0' frameborder='2' allowfullscreen='true' class='youtube-player' type='text/html'
