table width='600px' align='center' padding='12px'
  tr
    td
      p
        ' Hi #{@user.first_name},
      p
        ' We’re glad to have you in the Startup Alliance Community and hope you’ve been enjoying your free trial.
        ' This email is to let you know your trial ends in three days and your first subscription payment will become due.
      - if @user.last4.present? and @user.card_expiry.present?
        p
          ' You currently have a
          ' #{@user.card_brand} card on file (ending in #{@user.last4} and expiring #{@user.card_expiry.strftime('%B %Y')}.)
          ' We’ll bill your subscription payment to that card in a few days.
        p
          ' If you want to change to a different card, visit your
          ' #{link_to 'Account Settings', edit_user_registration_url}
          ' and make whatever change you want.
          '
      - else
        p
          ' We noticed you don’t have a card on file so please visit your
          ' #{link_to 'Account Settings', edit_user_registration_url}
          ' to add one.
          '
      p
        ' If you cancel your paid subscription before the trial ends we’ll put you on a Free Lifetime Associate Membership.
        ' That way, you can continue to participate as an Associate Member as long as you want.
      p
        ' Learn more about how subscriptions work in the
        ' #{link_to 'Help Center', 'https://support.startupalliance.com/en/knowledgebase/3-getting-started/docs/20-subscriptions-and-billing'}.
        ' Or if you have questions or need help, just reply to this email and let us know.
      p
        ' Regards,
        br
        ' Startup Alliance

