table width='600px' align='center' padding='12px'
  tr
    td
      p
        ' Hi #{@user.first_name},
      p
        ' Your #{@user.plan.display_price} payment for  “#{@user.plan.display_name}” has been received.
        ' Your membership is paid through
        ' #{@user.first_subscription_ends.strftime('%B %e, %Y')} and will renew on that date.
      p
        ' Thank you very much!
      p
        ' Learn more about how subscriptions work in the
        ' #{link_to 'Help Center', 'https://support.startupalliance.com/en/knowledgebase/3-getting-started/docs/20-membership-subscriptions-and-billing'}.
        ' Or if you have questions or need help, just reply to this email and let us know.
      p
        ' Regards,
        br
        ' Startup Alliance
  
