- content_for :page_title do
  ' Accelerating the Globalization of Entrepreneurship — Startup Alliance

- content_for :page_header do
  h2.bold.little-space-top.white-text.text-center
    ' Startup Alliance
  h4.bold.medium-grey-text.text-center
    ' Accelerating the Globalization of Entrepreneurship
.row
  .large-10.large-offset-1.columns
    p.snug-top.text-right Entrepreneurship is one of the greatest  drivers of good in this world.
    p.snug-top.show-for-medium &nbsp;

    .row
      .large-8.large-offset-2.medium-10.medium-offset-1.columns
        h5.bold.space-top What we do
        p.little-snug-top
          ' We provide online tools and community resources our members use to
          ' make connections, overcome challenges and win through collaboration
          ' with their peers.

        h5.bold.space-top Leveling the playing field globally
        p.little-snug-top
          ' We are helping those who don’t live in a startup hub gain access to the same knowledge, skills and connections as those living in the heart of Silicon Valley.

        h5.bold.space-top An entrepreneurs community unlike any other
        p.little-snug-top
          ' We stand out with #{link_to 'greater functionality made affordable to any entrepreneur on earth', features_path}. In fact, what other entrepreneur communities charge hundreds or even thousands of dollars for, we provide for free.
          '
        /p.little-snug-top
          ' We provide cost effective #{link_to 'membership opportunities', pricing_path} and
          ' support entrepreneurs operating any type of business anywhere on earth.
          '
        /p.little-snug-top
          ' We are a #{link_to 'subscription', pricing_path} and #{link_to 'sponsorship', sponsorship_path} based
          ' organization with cost effective #{link_to 'membership plans', pricing_path}
          ' suitable for every entrepreneur.

        /h5.bold.space-top About the tools we provide
        /p.little-snug-top
          ' Some of our tools enhance entrepreneurial outcomes by
          ' reducing distraction and enhancing the focus of the team
          ' on their primary objectives.
        /p.little-snug-top
          ' Other tools have the potential to significantly mitigate the need
          ' to live in a startup hub by enabling optimal connections and online
          ' collaboration with entrepreneurs the members could never meet otherwise.

        /h5.bold.space-top About our community resources
        /p.little-snug-top
          ' We call it
          | #{link_to 'The Entrepreneur’s Nucleus', nucleus_path}
          span.faint
            ' &trade;
          ' because we consider our community resources the central hub of our global community.
        /p.little-snug-top
          ' These are interactive resources shared by the all members to facilitate problem solving,
          ' solution finding, knowledge sharing and to facilitate effective collaboration between peers.
        /p.little-snug-top
          ' In addition to the Discussion Forums, Knowledge Base and Global Virtual Office available now,
          ' we will deliver additional resources to help entrepreneurs maximize their success.
          '

        h5.bold.space-top An open invitation
        p.little-snug-top
          ' #{link_to 'Membership', features_path} is open to
          ' all committed entrepreneurs, advisors and investors who believe in our mission
          ' to accelerate the globalization of entrepreneurship.

        h5.bold.space-top Amplifying our reach, improving our affordability
        p.little-snug-top
          ' To redouble our impact, #{link_to 'The Startup Alliance Foundation', 'https://startupalliance.org', target: '_blank'} (SAF) helps governmental and non-governmental
          ' Entrepreneurship Support Organizations (ESOs) around the globe to improve the entrepreneurial
          ' landscape and augment the skills, knowledge and abilities of entrepreneurs wherever they may
          ' be and whatever kind of business they run.
        /p.little-snug-top
          ' Support from the SAF allows us to offer significant free functionality and keep our subscription prices
          ' easily affordable to any entrepreneur on earth.
        /p.little-snug-top
          ' You are invited to
          ' #{link_to 'support The Startup Alliance Foundation on Patreon', 'https://www.patreon.com/startupalliance', target: '_blank'}.

        h5.bold.space-top One more thing
        p.little-snug-top
          ' If your organization supports entrepreneurs or promotes entrepreneurship, you should get to know The Startup Alliance Foundation.
          ' #{link_to 'Contact the SAF', 'https://startupalliance.org/contact/', target: '_blank'} to
          ' discuss your mission and explore ways to amplify your impact.
          '

        /h5.bold.space-top Why we do what we do
        /p.little-snug-top
          ' These actions are driven by our strongly held foundational belief
          ' that entrepreneurship is one of the greatest drivers of good in this world.
          ' These actions are carried out in support of our mission to accelerate the globalization of entrepreneurship.
          '

        /h5.bold.space-top Please support us in this important work
        /p.little-snug-top
          ' We invite you to support our mission.
          ' You can do that via #{link_to 'subscription to this platform', features_path} or through
          ' #{link_to 'patronage of our mission', 'https://www.patreon.com/startupalliance', target: '_blank'}
          ' or through #{link_to 'direct sponsorship of our efforts', sponsorship_path}.
          '

        p.snug-top &nbsp;
    .row
      .medium-12.columns
        = render 'partials/storybox'
        p &nbsp;

        /p http://internetifokus.se/2018/09/19/3-snabba-med-maria-gester/#.W6pVIxNKjUJ
        /p Maria works as Head of Social Media at CityBrick Insights, where she works with strategy and tactics for both organic and purchased activation, for both large and medium and small businesses. She also acts as coach and support for companies that have their own social teams. She runs a blog about social media and has had articles published on, among other things, Internetworld. Appointed to one of Sweden's premier social media and also lectures internationally on the subject. Maria has experience working with both global brands and less, at local level.