- content_for :page_title do
  ' Accelerating the Globalization of Entrepreneurship — Startup Alliance

- content_for :page_header do
  h2.bold.little-space-top.white-text.text-center
    ' Startup Alliance
  h4.bold.medium-grey-text.text-center
    ' Accelerating the Globalization of Entrepreneurship
.row
  .large-10.large-offset-1.columns
    p.snug-top.text-right Entrepreneurship is one of the greatest  drivers of good in this world.
    p.snug-top.show-for-medium &nbsp;

    .row
      .large-8.large-offset-2.medium-10.medium-offset-1.columns
        h5.bold.space-top What we are
        p.little-snug-top
          ' Startup Alliance is a global community of committed entrepreneurs
          ' who are driving innovation and creating value worldwide.
        /p.little-snug-top
          ' We provide cost effective #{link_to 'membership opportunities', pricing_path} and
          ' support entrepreneurs operating any type of business anywhere on earth.
          '
        /p.little-snug-top
          ' We are a #{link_to 'subscription', pricing_path} and #{link_to 'sponsorship', sponsorship_path} based
          ' organization with cost effective #{link_to 'membership plans', pricing_path}
          ' suitable for every entrepreneur.

        h5.bold.space-top What we do
        p.little-snug-top
          ' We provide online tools and community resources our members use to
          ' make connections, overcome challenges and win through collaboration
          ' with their peers.

        /h5.bold.space-top About the tools we provide
        /p.little-snug-top
          ' Some of our tools enhance entrepreneurial outcomes by
          ' reducing distraction and enhancing the focus of the team
          ' on their primary objectives.
        /p.little-snug-top
          ' Other tools have the potential to significantly mitigate the need
          ' to live in a startup hub by enabling optimal connections and online
          ' collaboration with entrepreneurs the members could never meet otherwise.

        /h5.bold.space-top About our community resources
        /p.little-snug-top
          ' We call it
          | #{link_to 'The Entrepreneur’s Nucleus', nucleus_path}
          span.faint
            ' &trade;
          ' because we consider our community resources the central hub of our global community.
        /p.little-snug-top
          ' These are interactive resources shared by the all members to facilitate problem solving,
          ' solution finding, knowledge sharing and to facilitate effective collaboration between peers.
        /p.little-snug-top
          ' In addition to the Discussion Forums, Knowledge Base and Global Virtual Office available now,
          ' we will deliver additional resources to help entrepreneurs maximize their success.
          '

        h5.bold.space-top Join us today!
        p.little-snug-top
          /' Startup Alliance exists to support and accelerate the globalization of entrepreneurship.
          ' #{link_to 'Membership', pricing_path} is open to
          ' all committed entrepreneurs, advisors and investors who believe in our mission
          ' to accelerate the globalization of entrepreneurship.
          /span.bold
            ' Join us today!
        /p.little-snug-top
          /' We welcome
          /' #{mail_to 'hello@startupalliance.com', 'your inquiries', subject: "Hello!", encode: 'hex'}
          /' and encourage you to
          '
        p &nbsp;
    .row
      .medium-12.columns
        = render 'partials/storybox'
        p &nbsp;
