- content_for :page_title do
  ' Startup Alliance – Community Canvas

- content_for :page_header do
  h2.bold.little-space-top.little-space-bottom.white-text.text-center
    ' Community Canvas
.row
  .medium-10.medium-offset-1.columns
    p.snug-top.text-right
      ' Last updated May 15, 2018
    p.snug-top.show-for-medium &nbsp;

    .callout.accent.shadow-4dp
      .row
        .medium-3.columns
          a data-open='community-canvas'
            = image_tag 'community_canvas.png'
          .reveal#community-canvas data-reveal=true
            button data-close=true aria-label='Close' type='button' class='close-button'
              span aria-hidden=true
                ' &times;
            h4.primary-text
              ' Community Canvas:
            = image_tag 'community_canvas.png'
        .medium-9.columns
          p.title-font
            ' Like the Business Model and Lean Canvas’ for startups, the
            ' #{link_to 'Community Canvas', 'https://community-canvas.org', target: '_blank' }
            ' was created as a framework to help communities articulate their purpose and maximize
            ' the value they deliver to their membership.
          p.title-font
            ' Our Community Canvas will help your understand what we're about and how participation
            ' will benefit you. We welcome your comments and questions.
            '

    .row
      .medium-3.columns
        h4.bold.pad-right.primary-text.space-top
          strong Identity:
      .medium-9.columns
        h5.bold.space-top.little-snug-bottom
          ' Our Purpose
        p
          ' Startup Alliance is a global community of committed entrepreneurs driving innovation and creating value worldwide.
          ' Our purpose is to accelerate the globalization of entrepreneurship by helping these entrepreneurs
          ' stay focused and be more effective, make connections and help each other overcome challenges
          ' and maximize their success.
          '
          '

        h5.bold.space-top.little-snug-bottom
          ' Our Membership
        p
          ' Startup Alliance members are #{link_to 'committed entrepreneurs', commitment_pledge_path} operating all types of businesses located anywhere and
          ' everywhere on earth. Startup Alliance membership also includes business experts and investors who provide
          ' entrepreneurs with helpful advice and support.
          '

        h5.bold.space-top.little-snug-bottom
          ' Our Core Values
        p
          ' Startup Alliance values entrepreneurship as one of the greatest drivers of good in the world.
          ' We value collaboration and the generous sharing of information and ideas in order to help each
          ' other maximize our success.
          '

        h5.bold.space-top.little-snug-bottom
          ' Our Definition of Success
        p
          ' Startup Alliance members are successful when their business goals are met, when their companies deliver
          ' value to their communities and stakeholders and provide a meaningful livelihood to their employees.
          ' Startup Alliance is successful when its members consider their membership a factor in their personal
          ' and business success.
          '

        h5.bold.space-top.little-snug-bottom
          ' The Startup Alliance Brand
        p
          ' Our brand embodies transparency, clear communication and a desire
          ' to deliver value to the world by encouraging entrepreneurial efforts and
          ' providing tools that support focused and collaborative goal achievement.
          '


    .row
      .medium-3.columns
        h4.bold.pad-right.primary-text
          strong Experience:
      .medium-9.columns
        h5.bold.little-snug-bottom
          ' Accessing the Startup Alliance
        p
          ' Startup Alliance is an online community — membership is open to committed entrepreneurs, business
          ' advisors and investors who support the entrepreneurs and their companies. Access to the community
          ' and tools requires members to register and sign-in. Access to certain features may require
          ' payment of subscription fees.
        p
          ' Any member can be invited to join any company team or private alliance. The member that created the
          ' Company Workspace or Private Alliance decides who receives an invitation. Furthermore, some Companies
          ' and Private Alliances operate in “stealth mode” on Startup Alliance and will not appear in the
          ' directory or in search results. Only the members of those Companies and Alliances can access
          ' and participate within those entities.
          '

        /h5.bold.space-top.little-snug-bottom
          ' Rituals
        /p
          '

        h5.bold.space-top.little-snug-bottom
          ' Membership Experiences
        p
          ' Startup Alliance members collaborate one-on-one with other members and one-to-many within their
          ' Company Teams and Private Alliances using the tools we provide. Collaboration happens through
          ' the written word and real-time virtual offices. Members also use organizational aids and
          ' productivity tools to help themselves and their fellow members. Each member, company and
          ' private alliance has a searchable profile to help people make beneficial connections
          ' leading to mutual success.
          '

        h5.bold.space-top.little-snug-bottom
          ' Community Content
        p
          ' Each Member, Company and Private Alliance Profile provides insight about their role and activities.
          ' The organizational aids and productivity tools provide a written record of objectives set, progress
          ' and achievements made. The collaboration tools provide a historical trove of business wisdom
          ' and solutions contributed by the members themselves.
          '

        h5.bold.space-top.little-snug-bottom
          ' Governing Rules
        p
          ' Membership in Startup Alliance is governed by our #{link_to 'Code of Conduct', code_of_conduct_path}
          ' and #{link_to 'Commitment Pledge', commitment_pledge_path}.

        h5.bold.space-top.little-snug-bottom
          ' Four Membership Levels
        ul
          li
            span.bold
              ' Associate Membership
            ' for students, investors, fledgling entrepreneurs and company staff
          li
            span.bold
              ' Entrepreneur Membership
            ' for full time entrepreneurs who seek to benefit by gaining insights and solutions from complementary others
          li
            span.bold
              ' Private Alliance Membership
            ' for entrepreneurs seeking broader perspective for personal and business growth
          li
            span.bold
              ' Company Workspace Membership
            ' for goal drive company leaders who want to increase their company performance and results
        p
          ' You will find specifics on the #{link_to 'Membership Plans', pricing_path} page.

        /h5.bold.space-top.little-snug-bottom
          ' Transitioning Out
        /p
          ' placeholder
          '


    .row
      .medium-3.columns
        h4.bold.pad-right.primary-text
          strong Structure:
      .medium-9.columns
        h5.bold.little-snug-bottom
          ' The Organization
        p
          ' Startup Alliance was founded by #{link_to 'John Knapp', vanity_path('john')} who leads the organization
          ' and oversees its operation. An advisory board of seasoned entrepreneurs and startup experts helps guide
          ' the organization to prioritize, vet and evaluate new member benefits.
          '

        /h5.bold.space-top.little-snug-bottom
          ' Governance
        /p
          ' placeholder
          '

        h5.bold.space-top.little-snug-bottom
          ' The Delivery Platform
        p
          ' Startup Alliance is an online community accessible as a web application on mobile and desktop devices.
          ' The platform allows global accessibility for all Startup Alliance members.
          '

        /h5.bold.space-top.little-snug-bottom
          ' Data Management
        /p
          ' placeholder
          '

        h5.bold.space-top.little-snug-bottom
          ' Financing
        p
          ' Startup Alliance is capitalized by the founder, member subscriptions and sponsorships.
          '

        p &nbsp;
