- content_for :page_title do
  ' The Startup Alliance Foundation

- content_for :page_header do
  h2.bold.little-space-top.little-space-bottom.white-text.text-center
    ' The Startup Alliance Foundation

.row
  .medium-8.medium-offset-2.columns
    p.snug-top.space-bottom.text-right
      ' Working to accelerate the globalization of entrepreneurship.
    p.snug-top.show-for-medium &nbsp;

    h5.bold.space-top
      ' We believe
    p.little-snug-top
      ' Entrepreneurship is one of the greatest drivers of good in this world.
      ' Entrepreneurs are a primary source of innovation, job and value creation
      ' for themselves, their families and their communities.
      '
    h5.bold.space-top
      ' In support of these beliefs
    p.little-snug-top
      ' The Startup Alliance Foundation (SAF) works to improve the entrepreneurial landscape and
      ' augment the skills, knowledge and abilities of entrepreneurs wherever they may be and whatever kind of business they operate.
      '
    h5.bold.space-top
      ' Things we do
    p.little-snug-top
      ' The Startup Alliance Foundation is engaged in four primary activities:
      '
    ul.snug-top
      li
        span.bold
          ' Policy Development —
        ' The SAF works with national, regional and local governments and NGOs to
        ' make sure the right conditions exist for their constituents to build successful and sustainable businesses.
        '
      li
        span.bold
          ' Program Development —
        ' Embodying best practices drawn from the science of startup success,
        ' we develop effective educational and support programs to be implemented by Entrepreneurship Support Organizations (ESOs)
        ' in support of the communities they serve.
        /' We help Entrepreneurship Support Organizations (ESOs) develop and implement educational and support programs aligned with their missions.
        '
      li
        span.bold
          ' Educational Outreach —
        ' Drawing upon entrepreneurial excellence from Silicon Valley and beyond, we help experts share know-how with entrepreneurs
        ' of all kinds wherever the need exists.
        /' Where the entrepreneurial spark exists, we will help it take root and grow.
        ' We also sponsor select entrepreneur gatherings and communities and local and regional entrepreneurship conferences.
        '
      li
        span.bold
          ' Directed ESO Grants —
        ' The SAF solicits grant requests from ESOs worldwide.
        ' Our grants support program development, launch assistance and support of both governmental and non-governmental ESOs.
        '

    h5.bold.space-top
      ' Things we don’t do
    p.little-snug-top
      ' The SAF is not an investment fund, we do not invest directly in startups.

    p.snug-top &nbsp;