- content_for :page_title do
  ' Comparing Startup Alliance to other communities for entrepreneurs

- content_for :page_header do
  h2.bold.little-space-top.white-text.text-center
    ' How We’re Different
  h4.h1.bold.medium-grey-text.text-center
    ' Comparing Startup Alliance to other communities for entrepreneurs

.row
  /.large-6.large-offset-3.medium-8.medium-offset-2.columns
  .large-8.large-offset-2.medium-10.medium-offset-1.columns
    p.bold.text-right.snug-top= link_to '10 things making Startup Alliance special...', how_we_are_different_path(anchor: 'how-we-stand-out')

    h5.bold.space-top
      ' How We’re Different from Entrepreneur’s Organization
    p.little-snug-top
      ' The Entrepreneur’s Organization is an excellent source of knowledge, national and regional events, face-to-face and online learning.
      ' Membership is by invitation only and applicants must be an owner, founder or majority stakeholder of a business earning $1M or more.
      ' Global dues are over $2K plus an initiation fee.
      ' Chapter dues are on top of global dues and vary based on each individual chapter policies.
    p.little-snug-top
      ' Startup Alliance is open to all #{link_to 'with significantly lower membership costs', features_path(anchor: 'memberships')} when compared to Entrepreneur’s Organization.
      ' Startup Alliance is an online community with a global focus on collaboration to help entrepreneurs connect with qualified peers regardless of where they’re located.
      ' Additionally, Startup Alliance provides a growing set of productivity and focus enhancing tools and community resources.
      ' Each member, even those who join for free, receive a unique
      | #{link_to 'TrueInsight Profile', vanity_path('john')}
      span.faint
        ' &trade;
      ' they can use across all social media and within other entrepreneur communities to help people everywhere get to know them.

    h5.bold.space-top
      ' How We’re Different from Indie Hackers
    p.little-snug-top
      ' Indie Hackers is a vibrant online knowledge sharing community for product makers and entrepreneurs.
      ' The site also has interviews where entrepreneurs share stories of their entrepreneurial journey.
      ' It’s free to join and all members can participate in discussion forums, create product listings and post articles.
      ' Indie Hackers was created by Courtland Allen in 2016 and acquired by Stripe in 2017.
    p.little-snug-top
      ' Startup Alliance also offers #{link_to 'free membership plus two other subscription based memberships', features_path(anchor: 'memberships')} with #{link_to 'additional features', features_path}.
      ' Additionally, Startup Alliance provides a growing set of productivity and focus enhancing tools and community resources.
      ' Each member, even those who join for free, receive a unique
      | #{link_to 'TrueInsight Profile', vanity_path('john')}
      span.faint
        ' &trade;
      ' they can use across all social media and within other entrepreneur communities to help people everywhere get to know them.
      '

    h5.bold.space-top
      ' How We’re Different from Vistage
    p.little-snug-top
      ' Over 60 years old, Vistage is a business coaching company. Vistage assembles business executives into peer groups based on professional title and also provides one-to-one coaching, interactive workshops and online resources.
      ' Membership prices range from around $13K to $17K annually (tiered based on revenue) for CEOs with lower fees for key executives like VPs, COO, CFO, etc.
      ' Vistage maintains a large group of executive coaches and pairs them with the appropriate members.
    p.little-snug-top
      ' Startup Alliance is open to all #{link_to 'with significantly lower membership costs', features_path(anchor: 'memberships')} when compared to Vistage.
      ' Startup Alliance is an online community with a global focus on collaboration to help entrepreneurs connect with
      ' qualified peers regardless of where they’re located.
      ' Startup Alliance is the only entrepreneurs community featuring #{link_to 'Collaboration Workspaces for Companies', features_path(anchor: 'companies')} and
      ' #{link_to 'Private Alliances', features_path(anchor: 'alliances')} to unite the efforts compatible entrepreneurs to ask questions, get answers, gain deeper insights and broader perspectives.
      ' Each member, even those who join for free, receive a unique
      | #{link_to 'TrueInsight Profile', vanity_path('john')}
      span.faint
        ' &trade;
      ' they can use across all social media and within other entrepreneur communities to help people everywhere get to know them.

    h5.bold.space-top
      ' How We’re Different from Founder Cafe
    p.little-snug-top
      ' Founder Cafe is an invite-only private discussion forum for self-funded entrepreneurs. Membership is by invitation only. Applicants go through a vetting process to insure a good fit with the community and membership fees are $99 each calendar quarter.
      '
    p.little-snug-top
      ' Startup Alliance has a growing collection of community resources available to all members, even those who join for free:
    ul.snug-top
      li
        span.bold
          ' Discussion forums
        ' covering a range of subjects of interest to all entrepreneurs.
      li
        span.bold
          ' Wiki-style knowledge base
        ' where members gain hard-won knowledge and startup wisdom created by and for our members.
      li
        span.bold
          ' Online live events
        ' including lectures, AMAs and hangouts organized by members, staff and special guests.
      li
        span.bold
          ' Global virtual office
        ' for co-working and real time collaboration with entrepreneurs from around the word.
    p.little-snug-top
      ' Additionally, Startup Alliance has #{link_to 'Collaboration Workspaces for Companies', features_path(anchor: 'companies')} and
      ' #{link_to 'Private Alliances', features_path(anchor: 'alliances')} where compatible entrepreneurs help each other by asking questions, geting answers, gain deeper insights and broader perspectives.
      ' Each member, even those who join for free, receive a unique
      | #{link_to 'TrueInsight Profile', vanity_path('john')}
      span.faint
        ' &trade;
      ' they can use across all social media and within other entrepreneur communities to help people everywhere get to know them.

    h5.bold.space-top
      ' How we’re different from local and regional entrepreneur gatherings
    p.little-snug-top
      ' Face-to-face entrepreneur gatherings are excellent —
      em
        ' if you can find one near you.
      ' The problem is, that’s not an option if you don’t live in a startup hub or if you can’t afford to travel.
    p.little-snug-top
      ' Startup Alliance is an online entrepreneurs community that comes as close as possible to meeting face-to-face
      ' in a gathering of your peers, talking about business and helping each other meet challenges and set strategy.

    h5.bold.space-top
      ' How We’re Different from Startup Accelerators and Incubators
    p.little-snug-top
      ' There are 10s of thousands of accelerators and incubators around the world.
      ' Each offering a some combination of mentorship, advice, co-working and capital.
      ' Each asking for compensation in the form of rent, equity or fee for services of some kind.
    p.little-snug-top
      /' Startup Alliance is an online community focused on collaboration where entrepreneurs work together to make connections, overcome challenges and win through collaboration with their peers.
      ' Startup Alliance provides additional value to all participants in all accelerators and incubators.
      ' Even #{link_to 'free Associate Membership', features_path(anchor: 'memberships')} provides access to robust community resources and #{link_to 'paid memberships', features_path(anchor: 'memberships')} offer even more capabilities.

    .callout.primary.space-top.shadow-8dp#how-we-stand-out
      .float-right
        = link_to how_we_are_different_path do
          ' Back to the top
          | &nbsp;
          i.fa.fa-arrow-up
      h4.bold
        ' 10 things making Startup Alliance special:
      ol
        li
          span.bold
            ' Inclusive —
          ' Membership is open to all committed entrepreneurs regardless of level of experience or the type of business they operate.
          ' Membership is also open to advisors, mentors and investors.
        li
          span.bold
            ' Easy to afford —
          ' Startup Alliance offers free and low-cost subscription memberships.
          ' We never want money to stand in the way of our members working towards their entrepreneurial dreams.
        li
          span.bold
            ' TrueInsight Members Profile —
          ' In addition to adding our social profiles and mission statement, we rate ourselves on a standard set of 18 startup skills and 12 personal traits. This way, we learn more about the people we interact with and we’re better equipped to make optimal connections with the right members.
          ' These profiles are publicly accessible and sharing it throughout your social media is a great way to help people get to know you
        li
          span.bold
            ' We’re all about collaboration —
          ' Our roots carry all the way back to founder peer groups in Seattle starting in 1999.
          ' Today, like then, we are of the opinion that all committed entrepreneurs have valuable knowledge and ideas to share and help to provide.
        li
          span.bold
            ' Virtual Offices —
          ' More companies all the time are geographically dispersed and forego the traditional physical office.
          ' That’s why we provide our members with access to the Global Virtual Office and numerous private virtual offices for real-time co-working and hangouts.
        li
          span.bold
            ' Multiple levels of privacy —
          ' Sometimes you want to keep your discussions private.
          ' Sometimes you want to ask a question of the entire community.
          ' Startup Alliance offers community wide discussion forums The Nucleus in private forums each Private Alliance and Company Workspace.
          ' There are also direct member-to-member direct messages for when you need to go one-on-one.
        li
          span.bold
            ' Live Events from members, staff and guest experts —
          ' Including lectures, AMAs and hangouts on topics of interest to all of our members.
          ' These events occur online using your webcam or mobile device.
        li
          span.bold
            ' Private Alliances —
          ' This is where our members form lasting bonds with a small group of entrepreneurs they can trust.
          ' Work together to ask questions, get answers, gain deeper insights and broader perspectives.
          ' There are plenty of Private Alliances to join, plus Alliance Members can create their own.
        li
          span.bold
            ' Collaboration Workspaces for Companies —
          ' This is where busienss leaders unite the efforts of their company staff, advisors, consultants and investors.
          ' This is where they team up to set objectives for the company, discuss and overcome challenges and
          ' track their progress towards their ultimate success.
        li
          span.bold
            ' Long term efforts to accelerate the globalization of entrepreneurship —
          ' Once sustainably profitable, remaining net income from subscription fees will be used
          ' to spread startup knowledge and skills through in-person educational efforts both directly to
          ' entrepreneurs worldwide and through exemplary Entrepreneurship Support Organizations (ESOs) and
          ' entrepreneurship gatherings and conferences.

    = link_to 'Learn more and join us today', features_path, class: 'space-top bold large button expanded success shadow-4dp'
    p &nbsp;
