- content_for :page_title do
  ' Startup Alliance — Sponsorship Opportunities

- content_for :page_header do
  h2.bold.little-space-top.little-space-bottom.white-text.text-center
    ' Sponsorship Opportunities
.row
  .large-8.large-offset-2.medium-10.medium-offset-1.columns
    p &nbsp;
    .callout.shadow-6dp
      h4.text-center.title-font
        ' We welcome sponsorships from
        /' incubators, capital sources and
        ' organizations aligned with our vision of entrepreneurship as a driver of good in this world.
        '
      p.text-center Please email #{mail_to 'hello@startupalliance.com', 'hello@startupalliance.com', subject: "Sponsorship", encode: 'hex'} to begin the conversation.

.row
  .large-6.large-offset-3.medium-8.medium-offset-2.columns
    h5.bold.space-top
      ' What is Startup Alliance
    p.little-snug-top
      ' Startup Alliance is a global community of committed entrepreneurs driving
      ' innovation of all kinds and creating value and jobs for their communities.
      '

    h5.bold.space-top
      ' Our Mission
    p.little-snug-top
      ' Startup Alliance exists to accelerate the globalization of entrepreneurship.
      '

    h5.bold.space-top
      ' Our Strategy
    p.little-snug-top
      ' We host this community and provide a unique collection of online tools and resources designed to
      ' help entrepreneurs make connections, overcome challenges and win through effective collaboration with qualified peers.
      '

    h5.bold.space-top
      ' Our Membership
    p.little-snug-top
      ' Startup Alliance members are
      em
        ' committed entrepreneurs
      ' actively pursuing business opportunities in alignment with our
      ' #{link_to 'Commitment Pledge', commitment_pledge_path}.
      '

    h5.bold.space-top
      ' The Startup Alliance Brand
    p.little-snug-top
      ' Our brand embodies transparency, integrity, clear communication and a strong desire
      ' to deliver value to the world by promoting entrepreneurship and providing
      ' our membership with tools that support focused and collaborative goal achievement.
    p.little-snug-top
      ' Learn more about what we stand for by reading our #{link_to 'Community Canvas', community_canvas_path}.
      '
    p &nbsp;
