.row
  .medium-8.medium-offset-2.columns
    .callout.shadow
      p
        em
          ' Inspired by
          ' #{link_to 'Mastermind Groups', 'https://en.wikipedia.org/wiki/Mastermind_group', target: '_blank'},
          ' Private Alliances are online gathering places with collaboration tools where you can work
          ' privately with a small group of entrepreneurs to ask questions, get answers, organize and
          ' attend live events, gain deeper insights and broader perspectives
      p.bold
        ' Follow these best practices to maximize your results:
        '
      = render 'partials/pa_best_practices'

    p.text-center.little-snug-top
      em
        ' Contact Startup Alliance founder
        ' #{link_to 'John Knapp', vanity_path('john')}
        ' for help getting the most out of your Private Alliance.
